<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="log4net"
        type="log4net.Config.Log4NetConfigurationSectionHandler, 
            log4net-net"
		/>
    </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <log4net>
    <!--<root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </root>-->
    <logger name="DataLogger">
      <level value="ALL" />
      <appender-ref ref="LogFileAppenderData1" />
      <!--<appender-ref ref="LogFileAppenderData2" />-->
    </logger>
    <logger name="ErrorLogger">
      <level value="ERROR" />
      <appender-ref ref="LogFileAppenderERROR" />
      <!--<appender-ref ref="LogFileAppenderData2" />-->
    </logger>
    <appender name="LogFileAppenderData1"  type="log4net.Appender.RollingFileAppender" >
      <param name="File" type="" value="log/log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyyMMdd" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"  value="%d  %-5p %n%m%n" />
      </layout>
    </appender>
    <appender name="LogFileAppenderERROR"  type="log4net.Appender.FileAppender" >
      <param name="File" value="Log/error.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"  value="%d [%t] %-5p %-10c - %m%n" />
      </layout>
    </appender>
    <!--<appender name="LogFileAppenderData2"  type="log4net.Appender.FileAppender" >
      <param name="File" value="Log/log-file2.txt" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern"  value="%d [%t] %-5p %-10c - %m%n" />
      </layout>
    </appender>-->
  </log4net>
</configuration>
