.container{
	width: 950px;
}

#topograph{
	position: relative;
	background: url(../img/topograph.png) no-repeat 0px 0px;
	width:100%;
	height: 564px;
	/*margin-top: 20px;*/
}

#fusionview{
	position: relative;
	width:400px;
	height: 260px;
	border: 1px solid #428bca;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	background-color: #dff0d8;	
	margin-top: 10px;
}

#fusionview .subview1 ,#fusionview .subview2, #fusionview .subview3{
	position: absolute;
	width:150px;
	height: 80px;
	/*border: 1px solid #111;*/
}

#fusionview .fusionview_span{
	padding:0 30px;
}

#fusionview .panel-heading{
	text-align: center;
}

#fusionview .glyphicon{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

#fusionview .glyphicon-ok-sign{
	color: green;
}

#fusionview .glyphicon-remove-sign{
	color: red;
}

#fusionview .glyphicon-info-sign{
	color: black;
}

#fusionview .subview1{
	left:10px;
	top:50px;
}

#fusionview .subview2{
	left:10px;
	bottom:10px;
}

#fusionview .subview3{
	right:10px;
	top:100px;
}

#fusionview .panel{
	margin-bottom: 10px;
}

#fusionview .arrow{
	position: absolute;
	width:80px;
	height:150px;
	left:160px;
	top: 80px;
	background: url(../img/arrow.png) center center no-repeat;

}

#fusionview .panel-heading{
	padding: 5px 10px;
}

#fusionview .panel-body{
	padding: 10px;
}

#sw, #sw_1, #sw_2{
	position: absolute;
	width:23px;
	height: 61px;
}

#sw{
	left:451px;
	top:109px;
}

#sw_1{
	left: 38px;
	top:  320px;
}

#sw_2{
	left: 497px;
	top:  319px;
}

.sw_on{
	background: url(../img/sw_on.png) no-repeat center right;
}

.sw_off{
	background: url(../img/sw_off.png) no-repeat center right;
}

.datablock{
	position: absolute;
	width: 200px;
	height: 200px;
}

.datablock .list-group-item{
	padding: 5px 15px;
}
#meter1{
	right: 50px;
	top: 0;
}

#meter2{
	left: 200px;
	top: 284px;
}


#meter3{
	right: 50px;
	top: 284px;
}

.datablock .list-group{
	margin-bottom: 0;

}
.datablock .panel-body{
	padding:0;
}

.datablock .panel-heading{
	padding:5px;
	text-align: center;
}

.datablock .panel{
	margin-bottom: 5px;
}

.panel .glyphicon-warning-sign{
	color:cyan;
}

.panel .glyphicon-remove{
	color:red;
}

.panel .glyphicon-ok{
	color:green;
}

#update-checkbox{
	padding:5px 0;
	margin: 10px;
	float:right;
}

#powergraphï¼Œ #detapowergraph{
	margin:10px;
}

#stasticgraphics{
	margin: 40px;
}

.search_bar{
	margin-top: 50px;
}
.search_bar .row{
	width: 820px;
	margin-left: auto;
	margin-right: auto;
}
.search_bar .col-md-2{
	width:150px;
}
.search_bar .col-md-3{
	width:300px;
}
.search_bar .form_time{
	float: left;
}
.search_bar .btn{
	margin-left: 50px;
}


#interval_input{
	width: 100px;
	float: left;
}


.masthead .text-muted{
	text-align: center;
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;	
}

.masthead .glyphicon{
	margin-right:15px;
}
.subtitle{
	border-bottom: 1px solid #222;
	color: #222;
}

.multi-tables{
	margin: 20px 0;
}


#tables_search .row{
	width: 100%;
}

#tables_search .col-md-2{
	width: 120px;
}


#tables_search .col-md-3{
	width: 220px;
}


.multi-tables th{
	text-align: center;
}

.multi-tables .error{
	color: red;
	font-weight: bold;
}

.multi-tables.table-striped>tbody>tr:nth-child(odd)>td,.multi-tables.table-striped>tbody>tr:nth-child(odd)>th {
background-color: #c9f9c9;
}

.footer {
color: #777;
text-align: center;
padding: 30px 0;
margin-top: 20px;
border-top: 1px solid #e5e5e5;
background-color: #f5f5f5;
width: 950px;
margin-left: auto;
margin-right: auto;
}